# Processing of datasus's tabnet data

In [57]:
import numpy as np
import pandas as pd
import os

# %pip install -r requirements.txt

## CSV Data structure

Each line of the csv file is a confirmed case. There are many unique columns with different data on location, on treatment, etc. The description for each column can be found in data_description.txt within the same folder of the data. For this project, we will be analyzing selected columns:

### Hanseniase data structure:

From the 63 columns from the csv file, will be used for the analysis:

- DT_NOTIFIC: Date of Notification [date]: It will indicate the date (year, month, day) of the case
    - E.g. 20110201 -> year 2011 month 02 day 01

- SG_UF: Code of the Notifying State [varchar(2)]: It will indicate the macro-region of the case

- SG_UF_NOT: SG ? State of Notification State [varchar(2)]: It will indicate the State in which the case was notified


### Tuberculosis data structure:

From the 97 columns from the csv file, will be used for the analysis:

- DT_NOTIFIC: Date of Notification [date]: It will indicate the date (year, month, day) of the case
    - E.g. 20110201 -> year 2011 month 02 day 01

- SG_UF: Code of the Notifying State [varchar(2)]: It will indicate the macro-region of the case

- SG_UF_NOT: SG ? State of Notification State [varchar(2)]: It will indicate the State in which the case was notified

In [58]:
# Checks if data exists
data_path_tuberculose = '../data/tuberculose/'
if not os.path.exists(data_path_tuberculose):
    print(f'Could not find data {data_path_tuberculose}.')

data_path_hanseniase = '../data/hanseniase/'
if not os.path.exists(data_path_hanseniase):
    print(f'Could not find data {data_path_hanseniase}.')

## Data check test code
# data_pd_test = pd.read_csv(os.path.join(data_path_hanseniase, 'HANSBR01.csv'), encoding='utf-8', low_memory=False)
# data_pd_test.drop(data_pd_test.tail(1).index, inplace=True) # The last row is "total" row, it needs to be removed
# print(data_pd_test.iloc[-1])
# data_pd_test.describe()
# for index in data_pd_test.T.index:
#     if type(data_pd_test[index][1]) is not str:
#             if data_pd_test[index].std() == 0:
#                 print(f'Column {index} is a constant value!')
#         # print(f'Mean {index}: {data_pd_test[index].std()}')
#     else:
#         print(f'Column {index} is type str')

In [88]:
# Loads all data and get all in a single pandas
for i, file in enumerate([file for file in os.listdir(data_path_hanseniase) if file.endswith('.csv')]):
    data_pd_hanseniase_ = pd.read_csv(os.path.join(data_path_hanseniase, file), encoding='utf-8', low_memory=False)
    data_pd_hanseniase_.drop(data_pd_hanseniase_.tail(1).index, inplace=True) # The last row is "total" row, it needs to be removed
    if i == 0:
        data_pd_hanseniase = data_pd_hanseniase_
    else:
        data_pd_hanseniase = pd.concat([data_pd_hanseniase, data_pd_hanseniase_], ignore_index=True)
    print(f'{os.path.join(data_path_hanseniase, file)} loaded')

data_pd_hanseniase.describe()

../data/hanseniase/HANSBR15.csv loaded
../data/hanseniase/HANSBR14.csv loaded
../data/hanseniase/HANSBR10.csv loaded
../data/hanseniase/HANSBR12.csv loaded
../data/hanseniase/HANSBR09.csv loaded
../data/hanseniase/HANSBR05.csv loaded
../data/hanseniase/HANSBR19.csv loaded
../data/hanseniase/HANSBR07.csv loaded
../data/hanseniase/HANSBR06.csv loaded
../data/hanseniase/HANSBR20.csv loaded
../data/hanseniase/HANSBR02.csv loaded
../data/hanseniase/HANSBR18.csv loaded
../data/hanseniase/HANSBR03.csv loaded
../data/hanseniase/HANSBR16.csv loaded
../data/hanseniase/HANSBR01.csv loaded
../data/hanseniase/HANSBR11.csv loaded
../data/hanseniase/HANSBR17.csv loaded
../data/hanseniase/HANSBR13.csv loaded
../data/hanseniase/HANSBR04.csv loaded
../data/hanseniase/HANSBR08.csv loaded

,TP_NOT.1,ID_AGRAVO,DT_NOTIFIC,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_DIAG,SEM_DIAG,...,AVAL_ATU_N,ESQ_ATU_N,DOSE_RECEB,EPIS_RACIO,DTMUDESQ,CONTEXAM,DTALTA_N,TPALTA_N,IN_VINCULA,NU_LOTE_IA
count,872837.0,872837.0,8.728370e+05,872837.000000,872837.000000,872837.000000,872837.000000,8.728370e+05,8.728370e+05,872837.000000,...,872837.000000,872837.000000,872837.000000,872837.000000,8.728370e+05,872837.000000,8.728370e+05,872837.000000,872837.000000,8.728370e+05
mean,2.0,0.0,2.009428e+07,2009.361275,29.386449,294887.528666,1414.574698,2.717259e+06,2.009321e+07,5398.957213,...,0.726494,1.711740,5.968675,1.847369,8.357206e+05,2.137664,1.962522e+07,1.756129,0.062131,3.121671e+04
std,0.0,0.0,5.640452e+04,5.640731,12.404229,124198.272839,943.843812,1.361196e+06,5.753035e+04,32581.041462,...,1.174489,0.631887,5.793776,1.909651,4.014198e+06,2.818741,3.058402e+06,2.006681,0.241393,2.492281e+05
min,2.0,0.0,2.001010e+07,2001.000000,0.000000,110001.000000,0.000000,0.000000e+00,1.910050e+07,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00
25%,2.0,0.0,2.004120e+07,2004.000000,21.000000,210540.000000,1389.000000,2.316633e+06,2.004103e+07,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000e+00,0.000000,2.005080e+07,1.000000,0.000000,0.000000e+00
50%,2.0,0.0,2.009032e+07,2009.000000,26.000000,261160.000000,1485.000000,2.462974e+06,2.009022e+07,0.000000,...,0.000000,2.000000,6.000000,1.000000,0.000000e+00,2.000000,2.009100e+07,1.000000,0.000000,0.000000e+00
75%,2.0,0.0,2.014072e+07,2014.000000,35.000000,353050.000000,1535.000000,2.705850e+06,2.014061e+07,0.000000,...,1.000000,2.000000,12.000000,4.000000,0.000000e+00,3.000000,2.015030e+07,1.000000,0.000000,0.000000e+00
max,2.0,0.0,2.020123e+07,2020.000000,53.000000,530010.000000,32004.000000,9.998063e+06,2.020123e+07,202053.000000,...,3.000000,9.000000,99.000000,4.000000,2.023042e+07,99.000000,2.023050e+07,9.000000,1.000000,2.023026e+06

In [89]:
# Loads all data and get all in a single pandas
for i, file in enumerate([file for file in os.listdir(data_path_tuberculose) if file.endswith('.csv')]):
    data_pd_tuberculose_ = pd.read_csv(os.path.join(data_path_tuberculose, file), encoding='utf-8', low_memory=False)
    data_pd_tuberculose_.drop(data_pd_tuberculose_.tail(1).index, inplace=True) # The last row is "total" row, it needs to be removed
    if i == 0:
        data_pd_tuberculose = data_pd_tuberculose_
    else:
        data_pd_tuberculose = pd.concat([data_pd_tuberculose, data_pd_tuberculose_], ignore_index=True)
    print(f'{os.path.join(data_path_hanseniase, file)} loaded')

data_pd_tuberculose.describe()

../data/hanseniase/TUBEBR08.csv loaded
../data/hanseniase/TUBEBR03.csv loaded
../data/hanseniase/TUBEBR06.csv loaded
../data/hanseniase/TUBEBR10.csv loaded
../data/hanseniase/TUBEBR17.csv loaded
../data/hanseniase/TUBEBR02.csv loaded
../data/hanseniase/TUBEBR01.csv loaded
../data/hanseniase/TUBEBR12.csv loaded
../data/hanseniase/TUBEBR14.csv loaded
../data/hanseniase/TUBEBR04.csv loaded
../data/hanseniase/TUBEBR11.csv loaded
../data/hanseniase/TUBEBR18.csv loaded
../data/hanseniase/TUBEBR07.csv loaded
../data/hanseniase/TUBEBR15.csv loaded
../data/hanseniase/TUBEBR16.csv loaded
../data/hanseniase/TUBEBR09.csv loaded
../data/hanseniase/TUBEBR13.csv loaded
../data/hanseniase/TUBEBR05.csv loaded

,TP_NOT.1,ID_AGRAVO,DT_NOTIFIC,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_DIAG,ANO_NASC,NU_IDADE_N,...,BENEF_GOV,AGRAVDROGA,AGRAVTABAC,TEST_MOLEC,TEST_SENSI,ANT_RETRO,BAC_APOS_6,TRANSF,UF_TRANSF,MUN_TRANSF
count,1589178.0,1589178.0,1.589178e+06,1.589178e+06,1.589178e+06,1.589178e+06,1.589178e+06,1.589178e+06,1.589178e+06,1.589178e+06,...,1.589178e+06,1.589178e+06,1.589178e+06,1.589178e+06,1.589178e+06,1.589178e+06,1.589178e+06,1.589178e+06,1.589178e+06,1.589178e+06
mean,2.0,0.0,2.009565e+07,2.009498e+03,3.136304e+01,3.152009e+05,1.117648e+03,2.009524e+07,1.940466e+03,4.032089e+03,...,7.324869e-01,7.628900e-01,7.386404e-01,1.021808e+00,1.180794e+00,2.073323e-01,4.195395e-01,1.338610e-01,5.646762e-01,4.221642e-01
std,0.0,0.0,5.242932e+04,5.242982e+00,8.806424e+00,8.844692e+04,9.800487e+02,5.240693e+04,2.389586e+02,1.227461e+02,...,2.039603e+00,1.640126e+00,1.607139e+00,2.041340e+00,2.583339e+00,1.128748e+00,1.315173e+00,9.833682e-01,4.043622e+00,3.430401e+00
min,2.0,0.0,1.981071e+07,1.981000e+03,1.100000e+01,0.000000e+00,0.000000e+00,2.001010e+07,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.0,0.0,2.005052e+07,2.005000e+03,2.600000e+01,2.611600e+05,0.000000e+00,2.005043e+07,1.957000e+03,4.026000e+03,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.0,0.0,2.009121e+07,2.009000e+03,3.300000e+01,3.303900e+05,1.380000e+03,2.009113e+07,1.971000e+03,4.037000e+03,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.0,0.0,2.014072e+07,2.014000e+03,3.500000e+01,3.550300e+05,1.497000e+03,2.014071e+07,1.982000e+03,4.051000e+03,...,0.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.0,0.0,2.023021e+07,2.023000e+03,5.300000e+01,5.300100e+05,6.256000e+03,2.018123e+07,9.710000e+03,4.123000e+03,...,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,5.300000e+01,5.300000e+01